<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
	<title>Flickr Search</title>
	<link rel="stylesheet" type="text/css" href="bower_components/angular-material/angular-material.min.css">
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic"><!-- font-family: 'Roboto', sans-serif;-->
</head>
<body ng-app="flickrApp" ng-controller="ListController" layout="column" layout-align="top center">

    <md-toolbar>
        <div class="md-toolbar-tools">
            <span class="md-flex">Flickr Search</span>
        </div>
    </md-toolbar>

    <md-content layout-align="center center">
        <div class="app-content">
            <form novalidate ng-submit="search()">
				<md-input-container>
					<label>Your API Key</label>
					<input type="text" class="long" ng-model="apiKey"/>
				</md-input-container>
				<md-input-container>
					<label>Search for</label>
					<input type="text" class="long" ng-model="searchTerm" />
				</md-input-container>
				<button>Search</button>
                <md-progress-circular ng-if="isSearching" md-mode="indeterminate"></md-progress-circular>
            </form>

			<div ng-repeat="picture in results.photos.photo">
				<md-card>
					<img ng-src="https://farm{{picture.farm}}.staticflickr.com/{{picture.server}}/{{picture.id}}_{{picture.secret}}_b.jpg" 
						 alt="" class="md-card-image"/>
					<md-card-content>
						<h3>{{picture.title}}</h3>
					</md-card-content>
				</md-card>
			</div>
        </div>
    </md-content>

	<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="bower_components/angular-cookies/angular-cookies.min.js"></script>
	<script type="text/javascript" src="bower_components/angular-aria/angular-aria.min.js"></script>
	<script type="text/javascript" src="bower_components/angular-animate/angular-animate.min.js"></script>
	<script type="text/javascript" src="bower_components/angular-material/angular-material.min.js"></script>
	<script type="text/javascript" src="bower_components/hammerjs/hammer.min.js"></script>
	<script type="text/javascript" src="app.js"></script>

</body>
</html>